<p>
  <b>First name:</b>
  <%= @child.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @child.last_name %>
</p>

<p>
  <b>Active:</b>
  <%= @child.active %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
